*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}
body{
    background-color: #ddd;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 234, 187);
   
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #000;
    margin-right: 30px;
    transition: .3s;
}
nav ul li a:hover{
    color: red;
}
.sign-btn{
    background-color: green;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: .3s;
}
.sign-btn:hover{
    background: transparent;
}
.content{
    padding-left: 6%;
    padding-top: 10%;
    display: flex;
}
.left-col{
    flex-basis: 48%;
    padding-top: 2%;
}
.left-col a{
    color: red;
    font-size: 20px;
}
.left-col h1{
    font-size: 60px;
    
}
.left-col p{
    margin-top: 20px;
    color: #6a6a6a;
}
.left-col button{
    margin-top: 10px;
    padding: 5px 12px;
    background-color: green;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.pg-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 12%;
    padding-right: 12%;
}
.course-el{
    padding: 10px;
    width: 200px;
    background-color: rgb(196, 236, 196);
    border-radius: 5px;
}
.course-el img{
    width: 100px;
    margin-left: 40px;
}
.course-el h3{
    text-align: center;
}
.course-el p{
    text-align: center;
    color: #6a6a6a;
}
.online-course{
    margin-top: 80px;
    padding-left: 12%;
    padding-right: 12%;
    

}
.online-course h2{
    text-align: center;
}
.course-list{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.course-1{
    width: 250px;
   border-radius: 8px;
    background: #fff;
    box-shadow: 20px 10px 15px #ccc;
}
.course-1 img{
    width: 250px;
    height: 150px;
    padding: 15px;
}
.course-1 h3,h4,a{
    padding-left: 15px;
}
.course-1 a{
    background-color: green;
    padding: 5px 15px;
    color: #fff;
    border-radius: 20px;
    margin-left: 5%;
    font-size: 12px;
}
.date{
    display: flex;
    align-items: center;
  
}
.date i{
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.date p{
    color: #6a6a6a;
    padding-left: 8px;
    font-size: 14px;
    
}
.testomonial{
    margin-top: 80px;
}

.testomonial h1{
    text-align: center;
}
.test-cont{
    padding: 5% 30%;
    display: flex;
    align-items: center;
}
.test-cont img{
    width: 80px;
    border: 5px solid #000;
    border-radius: 50%;
}
.test-cont p{
    padding-left: 10px;
}
.footer{
    padding: 5% 10%;
    background-color: #000;
    color: #fff;
    width: 100%;
    
}
.footer h1{
    text-align: center;
    padding-bottom: 10%;
}
.footer p{
    margin-top: 50px;
    text-align: center;
}
.footer-child{
    display: flex;
}

table {
    margin-left: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  td, th {
    
    text-align: left;
    padding: 5px;
  }
  
  

  